// footer.module.scss
.footer {
	width: 100%;
	background: var(--background);
	border-top: 1px solid var(--border-color);
	margin-top: auto;
	position: fixed;
	bottom: 0;
}

.footerContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 20px;
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
}

.footerLinks {
	display: flex;
	align-items: center;
	color: var(--text-primary);

	a {
		font-size: 1rem;
		//transition: opacity 0.2s ease;
		margin-left: 20px; /* Add spacing between links */

		&:hover {
			color: var(--primary-color);
			opacity: 0.8;
		}
	}
}

/* Mobile responsiveness */
@media (max-width: 600px) {
	.footerContent {
		padding: 12px 16px;
		flex-direction: column;
		gap: 8px;

		& > div {
			flex-direction: column;
			gap: 8px;
			align-items: center;
		}

		.footerLinks a {
			margin-left: 0;
			margin-top: 8px;
		}
	}
}
